body {
background-image: url("letters/freesia.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

display:flex;
justify-content:center;
align-items:flex-start;
padding-top:25px;
height:100vh;
font-family:Arial;
}



.fan {
display:flex;
gap:5px;
flex-wrap:wrap;
justify-content:center;
}


.card {
width:120px;
height:180px;
perspective:1000px;
cursor:pointer;
position:relative;
}



.card-inner{
  width:100%;
  height:100%;
  transition:transform 0.8s;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  position:relative;

  /* GPU gyorsítás, de NEM írja felül a flipet */
  transform: translate3d(0,0,0);
  will-change: transform;
}

.card.flipped .card-inner{
  transform: translate3d(0,0,0) rotateY(180deg);
}

.card.flipped {
position:fixed;
top:50%;
left:50%;
transform:translate(-50%, -50%) scale(1.6);
z-index:9999;
}





.card-front, .card-back {
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
border-radius:10px;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}


.card-front img {
width:90%;
height:90%;
object-fit:cover;
border-radius:15px;
}

.card-back {
transform:rotateY(180deg);
padding:10px;
text-align:center;
background:#222;
color:white;
}

button {
margin-top:10px;
padding:6px 12px;
border:none;
background:#e60073;
color:white;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

button:hover {
background:#ff3399;
transform:scale(1.05);
}
@media (max-width: 768px){

  body {
    height:auto;
    min-height:100vh;
    background-attachment:scroll;
  }

  .card {
    width:80px;
    height:120px;
    perspective:1000px;
    -webkit-perspective:1000px;
  }

  .card.flipped {
    transform:translate(-50%, -50%) scale(1.2);
  }

  .card-back {
    font-size:14px;
  }

  button {
    padding:5px 10px;
    font-size:14px;
  }
}

.redeemed-message {
margin-top:10px;
color:#ff99cc;
font-weight:bold;
}

































