body {
background: #fffff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
}

.fan {
display:flex;
gap:5px;
flex-wrap:wrap;
justify-content:center;
}


.card {
width:120px;
height:180px;
perspective:1000px;
cursor:pointer;
position:relative;
}



.card-inner {
width:90%;
height:90%;
transition:transform 0.8s;
transform-style:preserve-3d;
position:relative;
}
.card.flipped {
z-index:999;
transform:scale(1.4) rotate(0deg) translateY(-40px) !important;
}



.card-front, .card-back {
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
border-radius:10px;
background:white;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.card-front img {
width:100%;
height:100%;
object-fit:cover;
border-radius:10px;
}

.card-back {
transform:rotateY(180deg);
padding:10px;
text-align:center;
}

button {
margin-top:10px;
padding:5px 10px;
border:none;
background:#ff4081;
color:white;
border-radius:5px;
}










